<footer class="my-20 px-5">
  <p class="text-center text-sm text-secondary-800">
    Copyright Â© {new Date().getFullYear()} Sedma. Todos los derechos reservados.
  </p>
  <!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-secondary-800 mt-1">
    Realizado <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p>
</footer>
