---
import { Picture } from "astro:assets";
// import heroImage from "assets/hero.png";
import GraphImage from "assets/LogoSedma.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={GraphImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="image/svg+xml"
      style="transform: scale(1.0);"
    />
  </div>
  <div>
    <h1
      class="text-secondary text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Sedma: Redefine la colaboraci贸n en redes.
    </h1>
    <p class="text-secondary text-lg mt-4 max-w-xl">
      Descubre una nueva forma de conectar y colaborar en el mundo digital. Sedma es la plataforma innovadora que lleva la interacci贸n en redes al siguiente nivel, ofreciendo herramientas poderosas y una experiencia fluida para en la visualizaci贸n de datos y la colaboraci贸n en tiempo real.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        size="lg"
        style="primary"
        href="#"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class=" w-5 h-5" name="bx:bxs-log-in"/>
        Acceder
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="w-4 h-4" name="bx:bxl-github" />
        GitHub Repo
      </Link>
    </div>
  </div>
</main>
