---
// @ts-ignore
import { Icon } from "astro-icon/components";
---

<div class="mt-24">
  <h2 class="text-center text-secondary text-xl">Construido con</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap text-secondary">
    <Icon class="size-8 md:size-12" name="simple-icons:python" />
    <Icon class="size-8 md:size-12" name="simple-icons:nodedotjs" />
    <Icon class="size-8 md:size-12" name="simple-icons:react" />
    <Icon class="size-8 md:size-16" name="simple-icons:astro" />
    <Icon class="size-8 md:size-16" name="simple-icons:neo4j" />
    <Icon class="size-8 md:size-12" name="simple-icons:redis" />
    <Icon class="size-8 md:size-12" name="simple-icons:firebase" />
    <Icon class="size-8 md:size-12" name="simple-icons:amazonaws" />
  </div>
</div>
